<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span jhiTranslate="webinarappApp.orders.detail.title">Orders</span> {{orders.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="webinarappApp.orders.createddate">Createddate</span></dt>
                <dd>
                    <span>{{orders.createddate}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.orders.amount">Amount</span></dt>
                <dd>
                    <span>{{orders.amount}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.orders.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'webinarappApp.NOTIFICATIONS.' + orders.status}}">{{orders.status}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.orders.payment">Payment</span></dt>
                <dd>
                    <span jhiTranslate="{{'webinarappApp.PAYMENT.' + orders.payment}}">{{orders.payment}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.orders.cart">Cart</span></dt>
                <dd>
                    <div *ngIf="orders.cart">
                        <a [routerLink]="['/cart', orders.cart?.id, 'view']">{{orders.cart?.normCart}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
