<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeCourseLog">
            <h2><span jhiTranslate="webinarappApp.timeCourseLog.detail.title">Time Course Log</span> {{timeCourseLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="webinarappApp.timeCourseLog.loggedin">Loggedin</span></dt>
                <dd>
                    <span>{{timeCourseLog.loggedin}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.timeCourseLog.loggedout">Loggedout</span></dt>
                <dd>
                    <span>{{timeCourseLog.loggedout}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.timeCourseLog.timespent">Timespent</span></dt>
                <dd>
                    <span>{{timeCourseLog.timespent}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.timeCourseLog.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="timeCourseLog.customer">
                        <a [routerLink]="['/customer', timeCourseLog.customer?.id, 'view']">{{timeCourseLog.customer?.normalized}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="webinarappApp.timeCourseLog.course">Course</span></dt>
                <dd>
                    <div *ngIf="timeCourseLog.course">
                        <a [routerLink]="['/course', timeCourseLog.course?.id, 'view']">{{timeCourseLog.course?.title}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-course-log', timeCourseLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
