<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="webinarappApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="webinarappApp.customer.normalized">Normalized</span></dt>
                <dd>
                    <span>{{customer.normalized}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.phone">Phone</span></dt>
                <dd>
                    <span>{{customer.phone}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.streetaddress">Streetaddress</span></dt>
                <dd>
                    <span>{{customer.streetaddress}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.postalcode">Postalcode</span></dt>
                <dd>
                    <span>{{customer.postalcode}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.city">City</span></dt>
                <dd>
                    <span>{{customer.city}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.stateProvince">State Province</span></dt>
                <dd>
                    <span>{{customer.stateProvince}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.country">Country</span></dt>
                <dd>
                    <span>{{customer.country}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.profilePic">Profile Pic</span></dt>
                <dd>
                    <div *ngIf="customer.profilePic">
                        <a (click)="openFile(customer.profilePicContentType, customer.profilePic)" jhiTranslate="entity.action.open">open</a>
                        {{customer.profilePicContentType}}, {{byteSize(customer.profilePic)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.registered">Registered</span></dt>
                <dd>
                    <span>{{customer.registered}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.lastactive">Lastactive</span></dt>
                <dd>
                    <span>{{customer.lastactive}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.points">Points</span></dt>
                <dd>
                    <span>{{customer.points}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.cycledate">Cycledate</span></dt>
                <dd>
                    <span>{{customer.cycledate}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.areaserviced">Areaserviced</span></dt>
                <dd>
                    <span>{{customer.areaserviced}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.specialities">Specialities</span></dt>
                <dd>
                    <span jhiTranslate="{{'webinarappApp.TYPES.' + customer.specialities}}">{{customer.specialities}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.trades">Trades</span></dt>
                <dd>
                    <span>{{customer.trades}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.monthYear">Month Year</span></dt>
                <dd>
                    <span>{{customer.monthYear}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.licenseNumber">License Number</span></dt>
                <dd>
                    <span>{{customer.licenseNumber}}</span>
                </dd>
                <dt><span jhiTranslate="webinarappApp.customer.company">Company</span></dt>
                <dd>
                    <div *ngIf="customer.company">
                        <a [routerLink]="['/company', customer.company?.id, 'view']">{{customer.company?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
